#split {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: transparent;
}

#split .input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  width: 400px;
  padding: 20px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

#split .to-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

#split .to-section h4 {
  color: white;
  font-size: 22px;
  width: 100%;
  text-align: left;
  margin: 0;
}

#split .to-section div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

#split button {
  box-sizing: border-box;
  border: none;
  background-color: var(--darkest);
  color: var(--orange);
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

#split .split-btn {
  width: 400px;
  padding: 10px;
  border-radius: 12px;
}

#split .split-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
