.App {
  width: 100%;
  min-height: 0;
  max-height: 100vh;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: auto;
  overflow-x: hidden;
  background-color: #282c34;
}

:root{
--darkest: rgb(13, 13, 15);
--orange: rgb(254, 165, 0);
}